<script>window.$ = window.jQuery = require('./lib/jquery-3.3.1.min.js');</script>
<script src="lib/timeline.js"></script>
<script src="lib/vue.min.js"></script>
<script src="lib/customLabels.js"></script>
<link rel="stylesheet" type="text/css" href="lib/timeline.css">
<link rel="stylesheet" type="text/css" href="style.css">
<link rel="stylesheet" type="text/css" href="fonts/iconfont/material-icons.css">

<div id="layout">
    <div id="toolbar">
        <a onclick="openFile()" class="toolButton">
            <i class="material-icons">input</i>Open File</a>
        <a onclick="initRender()" class="toolButton">
            <i class="material-icons">movie</i>Render</a>
        <a onclick="save()" class="toolButton">
            <i class="material-icons">save</i>Save clipboard</a>
        <a onclick="load()" class="toolButton">
            <i class="material-icons">redo</i>Load clipboard</a>
    </div>
    <div id="mainview">
        <div id="sources">
            <div class="source" v-for="(source, index) in sources" :kex="source.id">
                {{ source.title }} <i>{{ source.path }}</i>
                <a @click="deleteItem(index)" class="shortButton">
                    <i class="material-icons">clear</i></a>
                <a @click="addItem(index)" class="shortButton">
                    <i class="material-icons">add</i></a>
            </div>
        </div>
        <div id="preview-box">
            <video autoplay id="preview" width="480"></video>
            <a class="shortButton" onclick="preview()">
                <i class="material-icons">play_arrow</i></a></a>
            <a class="shortButton" onclick="pausePreview()">
                <i class="material-icons">pause</i></a></a>
        </div>
        <div id="inspector">
            <div v-if="!properties.start">Nothing selected.</div>
            <div v-if="properties.start">
                Valid: {{ properties.valid }} <br>
                Original duration: {{ properties.maxduration }}s <br>
                Start: {{ back(properties.start) }}s <br>
                End: {{ back(properties.end) }}s <br>
                Filters: <br>
                <ul>
                    <li v-for="(filter, index) in properties.filters">
                        {{ JSON.stringify(filter) }}
                        <a class="shortButton" @click="removeFilter(index)">
                            <i class="material-icons">clear</i></a></a>
                    </li>
                </ul>

                Seek: <input v-model="properties.seek" type="number">
                <a class="shortButton" @click="setSeek()">
                    <i class="material-icons">done</i></a></a> <br>
                <div>
                    <a class="toolButton" onclick="openFilterWindow()">
                        <i class="material-icons">filter</i>Add filter</a>
                </div>
            </div>
        </div>
    </div>
    <div id="timeview">
        <div id="progress">
            Progress bars
            <progress id="bar" max="100" value="0">
        </div>
        <div id="timelinecont"></div>
    </div>
</div>

<script>
const {ipcRenderer, clipboard} = require('electron');
const {dialog, BrowserWindow} = require('electron').remote;
const os = require('os');
</script>
<script src="app.js"></script>
<script src="managers.js"></script>
<script src="preview.js"></script>
