
@font-face {
    font-family: SourceSansRegular;
    src: url(fonts/SourceSansPro-Regular.ttf);
}
@font-face {
    font-family: SourceSansLight;
    src: url(fonts/SourceSansPro-Light.ttf);
}

textarea {
    width: 100%;
    margin: 7px 0;
    background-color: #282e38;
    color: #ddd;
    border: none;
}
input {
    background-color: #282e38;
    color: #ddd;
    border: none;
}

div.timeline-axis-text {
    color: white;
    cursor: default;
    font-family: SourceSansLight;
}
div.timeline-customtime {
    cursor: ew-resize;
}
div.timeline-axis-grid-minor {
    border-color: #555;
}
div.timeline-axis-grid-major {
    border-color: #777;
}
div.timeline-axis {
    border: none;
}
div.timeline-event {
    border-color: #0d254c;
    /* background-color: #164696; */
    background-color: #143977;
    color: white;
    cursor: default;
}
div.timeline-event-selected {
    background-color: #356ac6;
}
div.timeline-event-range {
    height: 60px;
}
body {
    font-family: SourceSansRegular;
    background: #20242b;
    color: white;
    -webkit-user-select: none;
}
div.timeline-navigation-delete {
    display: none;
}
body {
    margin: 0;
}
#progress, .timeline-frame {
    border: 1px solid #333 !important;
}
#mainview {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    align-content: stretch;
}
#mainview div {
    flex: 1;
    padding: 10px;
}
#progress {
    margin-bottom: 10px;
    padding: 5px;
}
#timeview {
    padding: 10px;
}
#layout {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-content: space-between;
}
#toolbar {
    padding: 10px;
}
.shortButton {
    border: 1px solid white;
    display: inline-block;
    padding: 0px 5px;
    margin: 3px;
    font-size: 80%;
    cursor: default;
}
.toolButton {
    border: 1px solid white;
    display: inline-block;
    padding: 2px 7px;
    margin: 3px;
    cursor: pointer;
    font-family: SourceSansLight;
}
.source {
    height: 28px;
    padding: 6px;
    cursor: default;
}
.source:nth-child(even) {
    background: #282e38;
}
